.main-content {
    height: 487px;
    background: url('../../uploads/banner1.png') no-repeat
}

.home-banner {
    position: relative;
    height: 380px;
}

.sideNav {
    position: absolute;
    top: 20px;
    width: 210px;
    height: 380px;
    background: #fff;
    overflow-y: scroll;


}

.sideNav_more {
    /* position: absolute;
    width: 210px;
    height: 20px; */
    /* left: 0; */
    /* bottom: -20px; */
    /* background-color: #dcdcdc;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15); */
}

.noneBar::-webkit-scrollbar {
    width: 0 !important
}

.sideNav li:not(:last-child) {
    border-bottom: 1px;
}

.sideNav li a {
    display: block;
    width: 210px;
    height: 75px;
    line-height: 76px;
    text-align: center;


}

.sideNav_active {
    background: #333a4f;
    color: #fff;
}

.banner_img img {
    height: 380px
}

.list-content {
    padding-top: 20px;

    background-color: #edeef3;
}
