*{
    margin: 0;
    padding: 0;
}
h1,h2,h3.h4,h5,h6{
    font-weight: normal;
}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
 }
 input{
     outline: 0;
     border:0;
     vertical-align: middle;
 }
 img{
     vertical-align: middle;
     border: 0;
 }
 a{
     text-decoration: none;
     color:#333a4f;

 }    
 
 li{
     list-style: none;
     
 }
 .clearfix:after{
   clear:both;
 }
 .clearfix{
   *zoom:1;
 }
 body{
     line-height: 1;
     font: 15px AlibabaPuHuiTiR;
     background-color: #edeef3;
 }
.fl{
    float: left;
}
 
.fr{
    float: right;
}
.w{
    width: 1100px;
    margin: 0 auto;
}
