
.main-content{
    height: 487px;
    background: url('../../uploads/banner1.png') no-repeat 
}
.tab-title li{
    float: left;
}
.tab-title li a{
    display: block;
    width: 157px;   
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 3px solid transparent;
    
}
.tab-active{
    border-top-color: #707070 !important;
    font-weight: 700;
}
.banner{
    position: relative;
    height: 380px;
}
.sideNav{
    position: absolute;
    top: 20px;
    width: 210px;
    height: 380px;
    background: #fff;
}

.sideNav li:not(:last-child){
    border-bottom: 1px;
}
.sideNav li a{
    display: block;
   width: 210px;
   height: 75px;
   line-height: 76px;
   text-align: center;
  

}
.sideNav_active{
    background:#333a4f;
    color: #fff;
}
.banner_img img{
    height: 380px
}

.list-content{
    padding-top: 20px;
   
    background-color: #edeef3;
}
.topWrapper{
    width: 840px;
}
.topList{
    float: left;
    width: 840px;
    height: 140px;
   
    background-color:#fff;
    margin-bottom: 6px;
   
}
.imagesPotion{
    float: left;
    margin:12px;
}
.imagesPotion img{

    width: 170px;
	height: 118px;
}
.topcontent {
    float: left;
    margin-left: 10px;
   
}
.topcontent .title{
    padding-top: 37px;
    font-size: 16px;
    padding-bottom: 10px;
    
}
.topcontent .title a{
    color: #999
}
.topcontent p{
    font-size: 12px;
}
.readyMore {
  
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.readyMore a{
    color: #9a9a9a;
    font-family: AlibabaPu
}
.adList{
    width: 230px;
    height: 721px;
    padding: 5px 10px 0;
	background-color: #fff;
}
.adList li:first-child{
    padding-top: 6px;
}
.adList li{
    padding-bottom: 5px;
}
.adList li a{
    display: block;
}