/* 
    util.css
        作用： .top-nab，.list-content，.breadcrumb，.footer样式
        多个页面公用
*/






/* 
    topnav演示
        头部的logo和搜索样式
        头部的导航栏样式
*/

.top-nav {
    background: #fff;
}

/* 头部样式 */

.header {
    height: 27px;
    padding: 19px 0;
    border-bottom: 1px solid #b5b5b5;
    background-color: #fff;
}

.header-search {
    position: relative;
}

.header-search input {
    padding-left: 10px;
    width: 300px;
    height: 26px;
    background-color: #eeeeee;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 10px;
    top: 3px;
    background: url('../../assets/images/searchlogo.png') no-repeat;
}

/* 头部导航栏样式 */
.tab-card {
    background: #fff;
}

.tab-title>li {
    float: left;
    position: relative;
    text-align: center;
    border-top: 3px solid transparent;
    width: 155px;
    height: 40px;
    line-height: 40px;
    z-index: 5;
}

.tab-title .line {
    width: 2px;
    height: 14px;
    margin-top: 16px;
    background-color: #ccc;
}

.tab-title>li>a {
    display: block;



}

.tab-title .tab-item {
    position: absolute;
    width: 1100px;
    font-weight: 400;
    text-align: left;
    padding-top: 24px;
    z-index: 10;
    /* background: skyblue; */
    background: #fff;
    box-shadow: 1px 7px 5px 0px 
		rgba(7, 3, 3, 0.1);
}

.tab-title .hidden {
    display: none;
}

.tab-active {
    border-top-color: #707070 !important;
    font-weight: 700;
}

.tab-item-title,
.tab-item-name {
    font-size: 16px;
}

.tab-item>li {
    font-size: 0;
}

.tab-item-title {
    display: inline-block;
    font-size: 16px;
    color: #a0a0a0;
    /* padding: 0 100px 0 60px; */
    width: 160px;
    text-align: center;
}

.tab-item a {
    display: inline-block;
    width: 160px;
    text-align: center;
}

.tab-item-name {

    font-family: AlibabaPuHuiTiR;
    font-weight: 400;

    color: #535353;

}

/* topnav样式结束 */




/* 
    list-content样式
        左侧文章列表样式
        右侧广告样式
*/

.topWrapper {
    width: 840px;
}

.topList {
    float: left;
    width: 840px;
    height: 140px;

    background-color: #fff;
    margin-bottom: 6px;

}

.imagesPotion {
    float: left;
    margin: 12px;
}

.imagesPotion img {

    width: 170px;
    height: 118px;
}

.topcontent {
    float: left;
    margin-left: 10px;

}

.topcontent .title {
    padding-top: 37px;
    font-size: 16px;
    padding-bottom: 10px;

}

.topcontent .title a {
    color: #999
}

.topcontent p {
    font-size: 12px;
}

.readyMore {

    height: 40px;
    line-height: 40px;
    text-align: center;
}

.readyMore a {
    color: #9a9a9a;
    font-family: AlibabaPu
}

.adList {
    width: 230px;
    height: 721px;
    padding: 5px 10px 0;
    background-color: #fff;
}

.adList li:first-child {
    padding-top: 6px;
}

.adList li {
    padding-bottom: 5px;
}

.adList li a {
    display: block;
}

/* list-content样式结束 */


/* 
    面包屑导航样式
*/

.breadcrumb {
    width: 820px;
    height: 50px;
    padding-left: 20px;
    margin: 10px 0;

    line-height: 50px;
    background: #fff;
}

.breadcrumb li {
    float: left;
    position: relative;
    padding-right: 30px;
}

.breadcrumb li:not(:last-child)::after {
    position: absolute;
    display: block;
    content: '>';
    height: 50px;
    width: 20px;
    color: #999;

    text-align: center;
    /* left: 68%; */
    right: 5px;
    top: 0;
}

/* 
    面包屑导航样式结束
*/



/* 
    footer的样式 
*/

.footer {
    height: 160px;
    background-color: #333;
}

.footer-top {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9f9f9f;
}

.footer-logo a {
    display: block;
    height: 20px;
    width: 121px;
    background: url('../../assets/images/footer-logo.png') no-repeat center;
}

.footer-share a {
    display: block;
    height: 20px;
    width: 117px;
    background: url('../../assets/images/share.png') no-repeat center;
}

.footer-bottom {
    padding-top: 10px;
}

.footer-bottom p {
    width: 427px;
    height: 27px;
    font-family: MicrosoftYaHei;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: #666666;
}

/* 
    footer样式结束
*/


/* 
    轮播图样式
*/


.banner{
    width: 100%;
    position: relative;
    height: 100%;
    top: 0;
    z-index: 1;
}

.banner a{
    display: block;
    /* position: relative; */
}
.banner a img{
    /* position: absolute; */
    width: 1100px;
    left: 100px;
    top:0;
}
.btn {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 60px;
    height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    font: bold 40px/50px '宋体';
    display: none;
  
  }
  
  /* 右侧按钮 */
  
  .next {
    right: 0;
  }
  
  /* 鼠标进入轮播区显示按钮 */
  
  .banner:hover .btn {
    display: block;
  }
  
  /* 一组小点按钮 */
  
  .controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -98px;
  }
  
  .controls a {
    float: left;
    width: 54px;
	height: 3px;
	background-color: #c0c0c0;
    font-size: 0;
    text-indent: -999em;
  }
  
  /* 兄弟选择器 除了第一个之后所有的兄弟有效 */
  .controls a + a {
    margin-left: 3px;
  }
  
  /* 当前选中的项 */
  
  .controls a.active {
    background: #000000;
  }

/* 
  轮播图结束
*/