/* 
    面包屑导航样式
*/

.breadcrumb{
    width: 820px;
    height: 50px;
    padding-left: 20px;  
    margin: 10px 0;
    
    line-height: 50px;
    background: #fff;
}
.breadcrumb li{
    float: left;
    position: relative;
    padding-right: 30px;
}
.breadcrumb li:not(:last-child)::after{
    position: absolute;
    display: block;
    content: '>';
    height: 50px;
    width: 20px;
    color: #999;
  
    text-align: center;
    /* left: 68%; */
    right: 5px;
    top: 0;
}