/* 

    左侧文章列表样式
    右侧广告样式
*/

.topWrapper{
    width: 840px;
}
.topList{
    float: left;
    width: 840px;
    height: 140px;
   
    background-color:#fff;
    margin-bottom: 6px;
   
}
.imagesPotion{
    float: left;
    margin:12px;
}
.imagesPotion img{

    width: 170px;
	height: 118px;
}
.topcontent {
    float: left;
    margin-left: 10px;
   
}
.topcontent .title{
    padding-top: 37px;
    font-size: 16px;
    padding-bottom: 10px;
    
}
.topcontent .title a{
    color: #999
}
.topcontent p{
    font-size: 12px;
}
.readyMore {
  
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.readyMore a{
    color: #9a9a9a;
    font-family: AlibabaPu
}
.adList{
    width: 230px;
    height: 721px;
    padding: 5px 10px 0;
	background-color: #fff;
}
.adList li:first-child{
    padding-top: 6px;
}
.adList li{
    padding-bottom: 5px;
}
.adList li a{
    display: block;
}